{% extends "Navbar/navbar.html" %}
{% block content %}
    <div class="container mt-5 py-5">
        <div class="row bg-dark rounded justify-content-center">

            <div class="col-md-9 p-auto rounded">
                <center><h5 class="text-primary pt-3 border-bottom">All Comments: {{comments.count}}</h5></center><hr>
                <!--Loop through all the comments and display them here-->
                {% for comment in comments %}
                <p class="text-info shadow pb-1 px-1 border-bottom">
                    <span class="text-primary"><strong>@{{ comment.user.username }} </strong></span> {{ comment.comment_date|timesince }} Ago<br> <span class="text-light">{{ comment.message }}</span>br
                    <span class="mx-2 text-info">like</span><span class="mx-1"><a href="" class="text-danger">Reply</a></span><span style="color: #1fbaa3;" class="mx-1">Liked by you and 234 others</span>
                </p>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content %}