{% extends "Navbar/navbar.html" %}
<div>
    {% block content %}
    <div id="blog" class="blog">
        <div class="container mt-5" data-aos="fade-up">

            <div class="row mt-5">

            <div class="col-lg-8 entries rounded">

                <article class="entry">

                    <center>
                        <div class="entry-img rounded">
                            <img style="width:80%; height: auto;"  src="{{product.image.url}}" alt="" class="img-fluid">
                        </div>
                        <h2 class="entry-title">
                            {{ product.product_name}}
                        </h2>
                    </center>
                    <div class="entry-content">
                        <p>
                        {{ product.product_des }}
                        </p>
                    </div>
                    <center>
                        <div class="d-flex mx-4 text-center justify-content-center mb-4" style="font-size: 1.2rem;">
                            <div class="read-more mx-3">
                                <button><strong><strike>{{product.old_price}} </strike>$</strong></button>
                            </div>
                            <div class="read-more mx-3">
                                <button><Strong>{{product.price}} $</Strong></button>
                            </div>
                        </div>
                    </center>
                    <center>
                        <div class="read-more mx-3 btn btn-primary">
                            <a href="" class="text-white">Add to Cart</a>
                        </div>
                    </center>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar">

                <!--h3 class="sidebar-title">Categories</!--h3>
                <div class="sidebar-item categories">
                    <ul>
                    <li><a href="#">General <span>(25)</span></a></li>
                    <li><a href="#">Lifestyle <span>(12)</span></a></li>
                    <li><a href="#">Travel <span>(5)</span></a></li>
                    <li><a href="#">Design <span>(22)</span></a></li>
                    <li><a href="#">Creative <span>(8)</span></a></li>
                    <li><a href="#">Educaion <span>(14)</span></a></li>
                    </ul>
                </div><!-- End sidebar categories-->

                <h3 class="sidebar-title">Most Recent Products</h3>
                <div class="sidebar-item recent-posts">
                    
                    {% for list in product_list %}
                    <div class="post-item clearfix">
                        <img style="height: 50px;" src="{{ list.image.url }}" alt="">
                        <h4><a href="{% url 'product' list.product_id %}">{{list.name}}</a></h4>
                        <time class="text-dark" datetime="2020-01-01"><strong>{{list.created|timesince}} ago</strong></time>
                    </div>
                    {% endfor %}
                    <center><a class="mt-4 btn btn-outline-primary" href="{% url 'products' %}">See More</a></center>
                </div><!-- End sidebar recent posts-->

                <h3 class="sidebar-title">Courses</h3>
                <div class="sidebar-item tags">
                    <ul>
                        
                        {% for course in courses %}
                            <li><a href="{% url 'course' course.course_id %}">{{course.course_name|slice:":20"}}...</a></li>
                        {% endfor %}
                    </ul>
                </div><!-- End sidebar tags-->

                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->

            </div>

      </div>
    </div>
    {% endblock content %}
</div>